<div class="banner">
    <div class="banner-text">
      <h1>
        <span id="banner-typed-text"></span>
      </h1>
      <p>Have a look at our selection of cocktails that will help you go through this Lockdown. Feel free to add your own!</p>
      <a class="btn btn-flat" href="#cocktail-section">See Cocktails</a>
    <p>
    </p>
    </div>
    <div class="banner-image">      <img src="https://i.pinimg.com/564x/9f/48/f5/9f48f578751cac1ba9d5ebad59119a89.jpg" alt="cocktail">
    </div>
</div>
<div class="cocktail-section" id="cocktail-section">
  <div class="cocktail-list">
    <div class="row align-items-center">
      <% @cocktails.each do |cocktail| %>
        <div class="col-4">
          <%= link_to cocktail_path(cocktail) do %>
          <% if cocktail.photo.attached?  %>
             <div class="cocktail-category" style="background-image:url(<%= cl_image_path cocktail.photo.key  %>)">
          <% end %>
          <% end %>
            <%= link_to cocktail.name, cocktail_path(cocktail), :class => "cockail-info" %>
            <%= link_to 'Destroy', cocktail, method: :delete, data: { confirm: 'Are you sure?' } %>
             </div>
        </div>
      <% end %>
    </div>
  </div>
    <div class="center-button" style="text-align:center;">
      <%= link_to "+ Add a Cocktail", new_cocktail_path, :class => "button-cocktail" %>
    </div>
</div>

