<!-- app/views/restaurants/_form.html.erb -->
<%= render "shared/navbar" %>
<div class="form-container">
  <div class="form">
    <%= simple_form_for(@cocktail) do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <%= f.label :photo %>
      <%= f.input :photo, as: :file %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
