<%= render "shared/navbar" %>
<div class="cocktail-details">
  <div class="image-container">
    <%= cl_image_tag @cocktail.photo.key  %>
  </div>
  <div class="cocktail-details-no-photo">
     <h1 id="title">
      <%= @cocktail.name %>
    </h1>
  <div class="ingredients">
    <p>What you will need:</p>
      <ol>
        <% @cocktail.doses.each do |dose|  %>
        <li>
          <%= "#{dose.amount} #{dose.ingredient.name}: #{dose.description}" %>
          <%= link_to 'X', dose_path(dose),  method: :delete, data: { confirm: 'Are you sure you want to delete this plant?' } %>
        </li>
        <% end %>
      </ol>
  </div>
    <div type="button" class="show-button">
      <%= link_to "Add Doses", new_cocktail_dose_path(@cocktail)  %>
    </div>

    <div class="show-button">
      <%= link_to "Back to List", cocktails_path  %>
    </div>
</div>
</div>

